body {

    justify-content: right;
    align-items: center;
    height: 100vh;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    border-radius: 12px;
}

footer {
    background-color: #212529;
    color: white;
    padding: 12px;
    text-align: center;
    margin-top: 30px;
}