body {
    background-image: url("/static/img/fundo.jpg")
    background-size: cover;
    background-position: center;
   
    justify-content: right;
    align-items: center;
    height: 100vh;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.95);
}

footer {
    background-color: #212529;
    color: white;
    padding: 12px;
    text-align: center;
    margin-top: 30px;
}

.bg-roxo {
    background: linear-gradient(45deg,#6f42c1, #9b59b6 );
    color: white;
    front-weight: bold;
}

